$primary-color: #272727;
$accent-color: rgb(126, 126, 126);
$text-color: rgb(233, 233, 233);
$menu-color: lighten(#272727, 20%);
$highlight-color: #424242;
$mobile-font-size: 12px;
$navbar-height: 50px;
$layer-backdrop: 100;
$layer-overlay: 200;
$shadow-color: #272727;
$tag-background-color: hsl(220, 20%, 90%);
$tag-text-color: hsl(220, 20%, 30%);
$background-color: hsl(0, 0%, 100%);
$form-color: #e8b487;